.alert{
    color: red;
    font-size: small;
    margin: 10px;
    padding: 0;
}

.frame {
    border: 1px solid black;
    border-radius: 4px;
    padding: 15px 30px 25px;
    margin: 1.38%;
    background-color: hsla(120, 60%, 70%, 0.2);
}

.design-hides {      
    background:none!important;
    color:inherit;
    border:none; 
    padding:0!important;
    font: inherit;
    cursor: pointer;
}

mark {
    background-color: yellow;
}