<div>
  <div *ngIf='name; else showForm'>
    <div class="d-flex"> welcome {{ user.name }} !
      <a class="ml-auto" href="#" [routerLink]="['/logOut']"> Log out! </a>
    </div>
    <hr>
    <div class="text-warning">
      <div *ngIf='cart.status === "open"'>
        <h5>You have an active shopping cart!</h5>
        <div>Current price: {{ currentPrice }}$</div>
        <div>Date: {{ cart.createdDate }}</div>
      </div>
      <div *ngIf='cart.status === "close"'>
        <h5>This is your last shopping cart:</h5>
      </div>
      <div *ngIf='!cart'>
        <h5> {{ welcome }}</h5>
      </div>
    </div>
    <div *ngIf='cart' class="cart frame">
      <app-cart [userId]='user.id' [onlyView]='cart.status'></app-cart>
    </div>
    <br>
    <button type="button" class="btn btn-primary" id="start" (click)='goShoping()'>{{ shoppingButtton }}</button>
    <br>
  </div>
  <ng-template #showForm class="col-10">
    <div>&nbsp; Registered?</div>
    <form #loginForm="ngForm">
      <div class="form-group">
        <label for="username"></label>
        <input [(ngModel)]="user.email" type="text" class="form-control" id="username" placeholder="Username"
          name="username" required>
      </div>
      <div class="form-group">
        <label for="password"></label>
        <input [(ngModel)]="user.password" type="password" class="form-control" id="password" placeholder="Password"
          name="password" required>
      </div>
      <button [disabled]="loginForm.form.invalid" type="submit" class="btn btn-outline-dark"
        (click)='login()'>Login</button>
      &nbsp;<a href="#" [routerLink]="['/register1']"> Sign up </a>
      <div>
        <span *ngIf='loginError' class="alert">{{ loginError }} </span>
      </div>
    </form>
  </ng-template>
</div>