<div class="row" *ngIf='sideBar; else withOut'>
  <div class="col-4">
    <app-add-product *ngIf="sideBar==='add'; else update"></app-add-product>
    <ng-template #update>
      <app-update-product></app-update-product>
    </ng-template>
  </div>
  <div class="col-8">
    <app-categories-nav></app-categories-nav>
    <app-products-list [search]='search' (updateProductId)="updateProduct($event)"></app-products-list>
  </div>
</div>
<ng-template #withOut>
  <app-categories-nav></app-categories-nav>
  <app-products-list [search]='search' (updateProductId)="updateProduct($event)"></app-products-list>
</ng-template>